ROLE="router"
# hs1
NODE_IP="10.0.1.1"
NODE_PREFIX="24"
NODE_IP6="fc00:1::1"
NODE_PREFIX6="64"

# hs2
NODE_IP2="10.0.2.1"
NODE_PREFIX2="24"
NODE_IP6_2="fc00:2::1"
NODE_PREFIX6_2="64"

# enable routing
ENABLE_ROUTING="true"
